@charset "utf-8";
/* Include this only in dash board...*/

.demo-container {
    box-sizing : border-box;
    height     : 291px;
    border     : none !important;
}
.card, .card-heading {
    border-radius : 0 !important;
}
.button-3d-primary {
    background          : -moz-linear-gradient(center top, #00A9D5, #0099C1) repeat scroll 0 0 #00A1CB;
    border              : 1px solid #007998;
    box-shadow          : 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -1px 1px rgba(255, 255, 255, 0.15) inset, 0 7px 0 #007998, 0 8px 3px rgba(0, 0, 0, 0.3);
    color               : #FFFFFF;
    position            : relative;
    text-shadow         : none;
    top                 : 0;
    transition-duration : 0.3s;
    transition-property : all;
}
.button-rounded {
    border-radius : 3px;
}
.button {
    background      : -moz-linear-gradient(center top, #FBFBFB, #E1E1E1) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border          : 1px solid #D4D4D4;
    box-shadow      : 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
    color           : #666666;
    display         : inline-block;
    font-family     : 'muli';
    font-size       : 14px;
    font-weight     : 300;
    height          : 32px;
    line-height     : 32px;
    margin          : 0;
    padding         : 0 25.6px;
    text-align      : center;
    text-decoration : none;
    text-shadow     : 0 1px 1px #FFFFFF;
    vertical-align  : middle;
}
.numbers {
    clear          : both;
    float          : left;
    font-family    : muli;
    font-size      : 16px;
    font-weight    : 700;
    letter-spacing : 1px;
    text-align     : left;
    text-transform : none;
}
.margin_bottom {
    margin-bottom : 16px;
}
.greenbgs {
    background : #aec785;
    color      : #fff;
}
.palered {
    background : #fa8564;
    color      : #fff;
}
.bluebg {
    background : #62a3b8;
}
.clearfix_space {
    height : 10px;
}
.panel-title {
    color       : inherit;
    font-size   : 17px;
    margin      : 0;
    font-family : 'Noto Sans';
}
.no-radius .panel-body {
    padding : 5px 8px;
}
.btn-custom {
    background : #505050;
}
.opacityfull {
    opacity : 1;
}
/*  canvas chart */

canvas {
    width  : 100% !important;

    height : auto !important;
}
.btns {
    padding          : 3px;
    margin           : 20px 0px 10px 10px;
    background-color : #7cc4da;
    color            : #000;
}
li {
    list-style : none;
}
.adds, .adds:hover {
    border-bottom : none;
}
.add_list.adds {
    padding:20px
}
/* Compose Mail Code */

/* CSS Document */

body, html {
    max-height : 100%;
    /*min-height : 800px !important;*/
}
.web-mail {
}
.web-mail ul li {
    list-style    : none;
    border-bottom : 1px solid #fff !important;
}
.web-mail ul li:hover {
    border-bottom : 1px solid #ccc !important;
    background    : #eaeaea;
}
.web-mail ul {
    padding : 1px 0px 20px 0px;
    margin  : 0 !important;
    width   : 100%;
}
.web-mail ul li a {
    text-decoration : none;
    font-size       : 12px;
    padding         : 8px;
    padding-left    : 10px;
    color           : #333;
    display         : block;
}
.web-mail ul .compose {
    background  : #17a185 !important;
    border-left : 6px solid #0f816a;
    margin      : 20px 0;
}
.web-mail ul .compose a:hover, .web-mail ul .compose:hover {
    background : #0f816a !important;
}
.web-mail ul .active {
    background : #428bca !important;
}
.web-mail ul .compose a, .web-mail ul .inbox a {
    color : #FFF !important;
}
.border-right {
    border-right : 1px solid #bbe5ff;
}
.col-md-3 {
    min-height : 100% !important;
    height     : auto !important;
}
.web-mail .content ul {
    margin  : 0 !important;
    padding : 0 !important;
}
.web-mail .content ul li {
    list-style    : none;
    border-bottom : 1px solid #bbe5ff;
}
.web-mail .content ul li:hover {
    background : #e1e1e1;
}
input[type=checkbox] {
    padding : 0px;
}
.bg-blue {
    padding    : 10px !important;
    margin-top : -10px;
}
.blue.btn {
    background-color : #f1f1f1;
    color            : #919191;
    border-radius    : 5px;
    border           : 1px solid #dcdcdc;
}
.whitebg {
    background    : #fff;
    border-bottom : 1px solid #bbe5ff;
}
.mail_header {
    border     : none !important;
    text-align : end;
    background : none;
}
.more_menu ul {
    padding-top : 10px;
}
.more_menu li {
    padding : 6px 39px 1px 0;
}
.more_menu li a {
    padding : 3px !important;
}
.dropdown-menu > li > a:hover {
    color : #333;
}
.web-mail .ul li a {
    color           : #333;
    display         : block;
    font-size       : 16px;
    padding         : 2px 5px 5px 5px;
    text-decoration : none;
}
.web-mail .ul li a:hover {
    background : #eee;
}
.web-mail .ul li a i {
    padding-right : 10px;
}
.mail_pages {
    color       : #666;
    font-size   : 14px;
    font-weight : lighter;
    text-align  : right;
    padding-top : 5px;
}
.arrows {
    text-align : left;
    text-wrap  : none;
}
/* Compose */

.cke_chrome {
    border     : 1px solid #eee !important;
    width      : 80% !important;
    margin     : 10px !important;
    box-shadow : none !important;
}
.cke_top {
    background    : none !important;
    border-bottom : 1px solid #eee !important;
    box-shadow    : 0 1px 0 #fff inset;
    padding       : 6px 8px 2px;
    white-space   : normal;
}
.cke_bottom {
    background : none !important;
    border-top : 1px solid #eee !important;
    box-shadow : 0 1px 0 #fff inset;
    padding    : 6px 8px 2px;
    position   : relative;
}
.quickmail {
    border-radius : 5px;
    border-top    : 3px solid #F89A14;
    border-bottom : 3px solid #F89A14;
}
.quickmail i {
    float : left;
}
.quickmail .btn {
    display : inline-block;
    padding : 6px 10px;
}
.quickmail .btns {
    display    : inline-block;
    width      : 80px;
    background : #FFF;
}
.quickmail .btns:hover {
    background : #f0f0f0;
}
.compose input {
    padding       : 4px;
    border        : 1px solid #ddd;
    margin-bottom : 15px;
    padding-left  : 12px;
    font-size     : 14px;
    border-radius : 4px;
}
.compose textarea {
    border-radius : 4px;
}
.compose label {
    font-weight : lighter;
    color       : #555;
}
.cke_reset_all, .cke_reset_all * {
    background      : none repeat scroll 0 0 #fff;
    border          : 0 none;
    border-collapse : collapse;
    box-sizing      : content-box;
    color           : #000;
    cursor          : auto;
    font            : 12px Arial, Helvetica, Tahoma, Verdana, Sans-Serif;
    height          : auto;
    margin          : 0;
    padding         : 0;
    position        : static;
    text-align      : left;
    text-decoration : none;
    transition      : none 0s ease 0s;
    vertical-align  : baseline;
    white-space     : nowrap;
    width           : auto;
}
a.cke_button {
    cursor  : default;
    display : inline-block;
    float   : left;
    height  : 18px;
    outline : 0 none;
    padding : 10px 13px !important;
}
.cke_toolgroup {
    -moz-border-bottom-colors : none;
    -moz-border-left-colors   : none;
    -moz-border-right-colors  : none;
    -moz-border-top-colors    : none;
    background                : -moz-linear-gradient(center top, #fff, #e4e4e4) repeat scroll 0 0 #e4e4e4;
    border-color              : #ccc;
    border-image              : none;
    border-radius             : 0 !important;
    border-style              : solid;
    border-width              : 1px;
    box-shadow                : 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 1px 0 rgba(255, 255, 255, 0.15) inset;
    float                     : left;
    margin                    : 0 6px 5px 0;
}
.margin_left {
    margin-left : 10px;
}
tr td a {
    display : block !important;
    color   : #666;
}
.reply_forward {
    border     : 1px solid #ddd;
    background : #f0f0f0;
    padding    : 10px;
}
.reply_forward a {
    margin-bottom : 10px;
}
.left_border {
    border-left : 2px solid #ccc !important;
    margin-left : 20px !important;
}
.mail_img img {
    opacity       : 0.6;
    border        : 2px solid #000;
    border-radius : 5%;
}
.mail_img img:hover, .mail_img img:after {
    opacity : 1;
}
.quickmail {
    margin-bottom : 8px;
}
.calendar-bg {
    background-color : #fff;
    padding          : 15px 10px;
    margin-top       : 8px;
    margin-bottom    : 8px;
}
/* custom for nvd3 */

.card-blue {
    background-color : #5bc0de;
    color            : white;
}
.card-green {
    background-color : #37BC9B;
    color            : white;
}
.nvtooltip {
    background-color : black !important;
    color            : white;
    border           : 1px solid rgba(0, 0, 0, 0.2);
    font-size        : 12px;
    text-align       : left;
}
.nvtooltip h3 {
    font-size        : 14px !important;
    background-color : rgba(0, 0, 0, 0.75) !important;
    text-align       : center;
    border-bottom    : 1px solid #333 !important;
}
#chart svg text {
    font-size : 12px !important;
}
svg.xchart {
    margin-left : -30px;
}
svg.xchart:not(:root) {
    width : 110% !important;
}
.tab-active {
    background-color : #ECECEC;
}
.active-h {
    background-color : #ccc;
}
.height-350 {
    height : 350px !important;
}
.percent {
    display     : inline-block;
    line-height : 110px;
    z-index     : 2;
}
.percent:after {
    content     : '%';
    margin-left : 0.1em;
    font-size   : .8em;
}
th {
    text-align : center;
}
/* custom end of inedx */

.spark-chart {
    margin-top : 40px;
    padding    : 10px 10px 10px 30px;
    text-align : center;
}
.minichart-box {
    color         : #000;
    font-size     : 15px;
    margin-bottom : 10px;
}
.minichart-txt {
    color      : #ccc;
    font-size  : 12px;
    float      : left;
    text-align : center;
    margin     : 10px 0 0 15px;
}
.tab-active {
    background-color : #ECECEC;
}
.active-h {
    background-color : #ccc;
}
* {
    padding : 0;
    margin  : 0;

}
input[type=checkbox] {
    margin : 7px;
}
.todoitemcheck {
    padding-top : 0;
    float       : left;
    margin-left : 5px;
}
.todoitem {
    padding-top : 4px;
    float       : left;
}
.navbar-right .nav > li > a {
    position : relative;
    display  : block;
}
.maxwidth100 {
    max-width : 100px;
}
.maxwidth2 {
    max-width : 1200px;
}
.nv-chart-11770 {
    padding-bottom : 10px;
}
/* mini charts code */

.sparkline-chart {
    text-align : center;
}
.sparkline-chart {
    margin-top : 15px;
    position   : relative;
}
.sparkline-chart .number {
    width         : 100px;
    margin        : 0 auto;
    margin-bottom : 10px;
}
.sparkline-chart .title, .easy-pie-chart .title {
    display       : block;
    text-align    : center;
    color         : #333;
    font-weight   : 300;
    font-size     : 16px;
    margin-top    : 5px;
    margin-bottom : 10px;
}
.sparkline-chart .title:hover, .easy-pie-chart .title:hover {
    color           : #666;
    text-decoration : none;
}
.sparkline-chart .title > i, .easy-pie-chart .title > i {
    margin-top : 5px;
}
/***
Charts and statistics
***/

.chart, .pie, .bars {
    overflow : hidden;
    height   : 300px;
}
/***
Statistic lists
***/

.item-list.table .percent {
    width        : 30px;
    float        : right;
    margin-right : 10px;
    margin-top   : 3px;
}
/***
Chart tooltips
***/

.chart-tooltip {
    clear            : both;
    z-index          : 100;
    background-color : #736e6e !important;
    padding          : 5px !important;
    color            : #fff;
}
.chart-tooltip .label {
    clear         : both;
    display       : block;
    margin-bottom : 2px;
}
.cir {
    position      : relative;
    display       : inline-block;
    width         : 105px;
    height        : 105px;
    margin-top    : 20px;
    margin-bottom : 20px;
    text-align    : center;
}
.chart.chart-widget-pie {
    margin-top    : 5px;
    margin-bottom : 5px;
}
.chart canvas {
    position : absolute;
    top      : 0;
    left     : 0;

}
.animation-chart {
    width  : 100%;
    height : 300px;
}
.card .card-body .fc-header-title h2 {
    font-size   : 15px;
    line-height : 1.6em;
    color       : #666;
    margin-left : 10px;
}
/* time line css*/

.timeline2-badge i.blue {
    color : #418BCA;
}
.timeline2-badge i.green {
    color : #00bc8c;
}
.timeline2-badge i.war {
    color : #F89A14;
}
.timeline2-badge i.inf {
    color : #5bc0de;
}
.timeline2-badge i.dan {
    color : #EF6F6C;
}
.timeline2-badge i.def {
    color : #A9B6BC;
}
.grn {
    background-color : #418BCA;
}
/* tabs */

.menu1 li {
    width      : 100%;
    font-size  : 16px;
    padding    : 10px;
    background : #f9f9f9;
    border     : #ccc 1px solid;
    margin     : 10px;
}
.info_block {
    margin-bottom : 1px;
    width         : auto;
    overflow      : hidden;
}
.user_list, .ticket_list {
    background : #fff;
    margin     : 10px;
}
.user_block, .post_block {
    margin-bottom : 10px;
    border-bottom : #CCC 1px dotted;
}
.info_block .widget_thumb {
    float        : right;
    background   : #f9f9f9;
    border       : #ccc 1px solid;
    padding      : 5px;
    margin-left  : 10px;
    margin-right : 0;
}
#ccb, #bccb {
    color   : #EF6F6C;
    padding : 10px;
}
.showactions .glyphicon {
    font-size   : 10px;
    padding-top : 5px;
}
.blue_gradiant_bg {
    background-color : #418BCA;
    padding:10px;
}
.black_bg {
    background : #2d2d2d;
}
.black_bg .title, .black_bg .panel-heading, .black_bg .title:hover {
    color : #fff;
}
.blue_gradiant_bg, .blue_gradiant_bg .panel-heading, .blue_gradiant_bg .panel-title, .blue_gradiant_bg h3.title, .blue_gradiant_bg h3.title:hover {
    color          : #FFF;
    letter-spacing : 2px;
}
.green_gradiante_bg {
    background-color : #01BC8C;
    padding: 10px;
    margin-top: 10px;
}
.green_gradiante_bg, .green_gradiante_bg .panel-heading, .green_gradiante_bg .panel-title, .green_gradiante_bg h3.title, .green_gradiante_bg h3.title:hover {
    color          : #FFF;
    letter-spacing : 2px;
}
.purple_gradiant_bg .list-group-item {
    background : rgba(255, 255, 255, 0.25) !important;
    color      : #fff;
    border     : none;
}
.green_gradiante_bg, .green_gradiante_bg .panel-heading, .green_gradiante_bg .panel-title, .green_gradiante_bg h3.title, .green_gradiante_bg h3.title:hover {
    color          : #FFF;
    letter-spacing : 2px;
}
.list-group-item, a.list-group-item {
    margin-bottom : 2px;
}
.margin-top-10 {
    margin-top : 10px;
}
.well {
    min-height         : 20px;
    padding            : 63px;
    margin-bottom      : 20px;
    background-color   : #f5f5f5;
    border             : 1px solid #e3e3e3;
    border-radius      : 4px;
    -webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow         : inset 0 1px 1px rgba(0, 0, 0, .05);
}
.loading {
    margin-top : 10em;
    text-align : center;
    color      : gray;
}
.panel-border .panel-heading {
    width   : 100%;
    display : inline-block;
}
/* visotors map zoomin zoomout code */
.jvectormap-zoomin, .jvectormap-zoomout {
    position              : absolute;
    left                  : 10px;
    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    border-radius         : 3px;
    background            : #000;
    padding               : 5px 13px 13px 5px;
    color                 : white;
    width                 : 10px;
    height                : 10px;
    cursor                : pointer;
    line-height           : 10px;
    text-align            : left;
}
.textarea_home {
    width       : 100%;
    height      : 125px;
    font-size   : 14px;
    line-height : 18px;
    border      : 1px solid #dddddd;
    padding     : 10px;
}
.nav-tabs {
    border-bottom : 1px solid #ddd;
    float         : right !important;
}
.progress.progress-sm {
    height     : 5px;
    margin-top : 5px;
}
.progress .progress-bar.progress-bar-blue {
    background-color : #418BCA !important;
}
.progress .progress-bar.progress-bar-orange {
    background-color : #F89A14 !important;
}
.progress .progress-bar.progress-bar-green {
    background-color : #01BC8C !important;
}
.progress .progress-bar.progress-bar-yellow {
    background-color : #EF6F6C !important;
}
.progress .progress-bar.progress-bar-violet {
    background-color : #A9B6BC !important;
}
.flotLegend table tr td {
    padding-right : 5px;
}
.tooltipflot {
    background-color      : rgba(0, 0, 0, 0.8);
    padding               : 5px 10px;
    font-size             : 11px;
    color                 : #fff;
    -moz-border-radius    : 2px;
    -webkit-border-radius : 2px;
    border-radius         : 2px;
}
.flotChart {
    width    : 100%;
    height   : 250px;
    position : relative;
}
.mb10 {
    margin-bottom : 10px;
}
.mt0 {
    margin-top : 0 !important;
}
.flotLegend {
    margin-bottom : 10px;
}
/*todolist task*/
.todolist {
    margin-bottom : 10px;
}
.todolist_list {
    border-bottom : 1px solid #ccc;
    display       : flex;
    width         : 100%;
    padding       : 7px 5px 8px 4px;
    background    : #fff;
    float         : left;
}
.todoitemjs {
    padding-top : 3px;
}
.todoitemjs input {
    width : 100%;
}
.todolist_list:hover {
    background : #f0f0f0;
}
.todolist header {
    background : #418bca;
    color      : #FFF;
    padding    : 10px;
}
.todolist_list .col-md-3 {
    margin-top : 5px;
}
.todolist_list .add {
    border  : 1px solid #fe6a0a;
    padding : 5px 20px;
}
.todolist_list .add:hover {
    background : #fe6a0a;
}
.todolist .li {
    padding : 0 !important;
}
.list_of_items {
    background : white;
}
.showactions .glyphicon {
    font-size   : 10px;
    padding-top : 5px;
}
.todolist_list .showbtns {
    opacity : 0;
}
.todolist_list:hover .showbtns {
    opacity : 1;
}
#todoedit {
    color         : #418bca;
    padding-right : 3px;
}
.todoedit, .todoedit:hover {
    color : #418bca !important;
}
#tododelete {
    color        : #F00;
    padding-left : 3px;
}
.tododelete, .tododelete:hover {
    color           : #F00 !important;
    text-decoration : none;
}
.todolist_list > form {
    background  : #fff;
    margin      : 0 !important;
    padding-top : 3px;
}
.strikethrough {
    text-decoration : line-through;
    color           : #ca0002;
}
.todoitemcheck {
    float        : left;
    margin-left  : 5px;
    margin-right : 8px;
}
.seperator {
    width       : 95%;
    float       : left;
    border-top  : 1px solid #eee;
    margin-left : 2%;
    padding     : 0 15px 0 15px;
}
.todoitem {
    padding-top : 2px;
}
.todoitembtns {
    padding    : 4px 20px 0 0;
    text-align : right;
}
/*todolist*/
.pad-10 {
    padding : 15px !important;
}
.pad-5 {
    padding-top : 5px;
}
#realtimechart {
    width : 100%;

}
#bar-chart {
    width  : 100%;
    height : 300px;

}
.list-statistics {
    margin-bottom : 0;
}
.list-statistics .list-group-item {
    margin-bottom  : 0 !important;
    padding-bottom : 10px !important;
    height         : 55px;
    line-height    : 50px;
}
.list-group-item:first-child {
    border-top-left-radius  : 4px;
    border-top-right-radius : 4px;
}
.margin5 {
    margin : 5px;
}
.dropdown-menu {
    padding : 0 0;
}

/*latest changes*/
.cardpaddng{
    padding: 0.5rem !important;
}

.panel-border .card-heading {
    border-bottom: 1px solid #ddd;
}
.mgn_top{
    margin-top: 10px;
}
.box-body{
    width:100%;
}

.pull-right>.dropdown-menu {
    right: 0;
    left: auto;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.fc-title{
    font-size:12px !important;
}
.color-chooser{
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    box-shadow: none !important;
    border: none !important;
}
.list_of_items{
    overflow: visible !important;
}
.todolist .row
{
    display: block;
}
.todolist [class*="col-"] {
    float: none;
    display: inline-block;
    vertical-align: top;
}
.todolist .col-lg-9,.col-md-9
{
    width:83%;
}

.compose{
    padding: 0 15px;
}